.App {
  text-align: center;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 20px;
}

.blank {
  width: 10%;
}

.header {
  width: 80%;
}

.playerCard {
  width: 20%;
  margin: 10px auto;
  padding: 20px;
  border: 1px solid #313843;
  border-radius: 10px;
}

.darkModeButton {
  width: 10%;
}

.dark-mode {
  color: #fff;
  background: #313843;
}

.dark-mode .playerCard {
  border: 1px solid #fff;
}
